<div class="product-list-container">
    <app-form
      *ngIf="!isEditing"
      (btn)="onAdd($event)"
    ></app-form>
  
    <app-form
      *ngIf="isEditing"
      [product]="editingProduct"
      (btn)="onSaveEdit($event)"
      (cancel)="onCancelEdit()"
    ></app-form>
  
    <h2>Itens Comprados</h2>
    <div class="product-item" *ngFor="let product of purchasedProducts">
      <span>{{ product.title }}</span>
      <button mat-icon-button color="warn" (click)="onDelete(product.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  
    <h2>Itens a Comprar</h2>
    <div class="product-item" *ngFor="let product of products">
      <mat-checkbox (change)="onPurchase(product, $event.checked)"></mat-checkbox>
      <span>{{ product.title }}</span>
      <button mat-icon-button color="primary" (click)="onEdit(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(product.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  